/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-feb-2021, 17:35:04
    Author     : DAW-B
*/
html, body{
    height: 100%;
}
#menu{
    height: 100vh;
}
